body{
	margin:0;
	background-color:rgb(222, 212, 185);
}


/*_______________________________CATCH*/

.catch{

	background-color:rgb(222, 212, 185);
	height:100%;
	width:100%;
	-webkit-transition: margin 1s ease;
	   -moz-transition: margin 1s ease;
	    -ms-transition: margin 1s ease;
	     -o-transition: margin 1s ease;
	        transition: margin 1s ease;
}
.text-above,
.text-below{
	position:absolute;
	color:rgb(100, 182, 177);
	display:none;
}
.text-above{
	top:-100px;
	width:100%;
	font-size: 50px;
	text-align: center;
}
.text-below{
	bottom:-80px;
	width:100%;
	font-size: 40px;
	text-align: center;
}
.send-mail{
	width:480px;
	margin:300px auto 0;
	border-radius: 7px;
	position:relative;
	font-family: 'Droid Sans', Corbel, sans-serif;
	border:5px solid rgb(100, 182, 177);
	/*overflow:hidden;*/
	height:60px;
	display:none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.sendtext{
	letter-spacing: 2px;
	position:absolute;
	font-size: 30px;
	padding:10px 0;
	text-align: center;
	width:100%;
	cursor:pointer;
	color:rgb(222, 212, 185);
	background-color:rgb(100, 182, 177);
	height:41px;
}

.input-group{
	position:relative;
	display:none;
}

.input-text,
.input-breaker{
	float:left;
}

.input-addon{
	padding:14px 7px 0 7px;
	float:right;
	text-align: center;
	height:49px;
	font-size: 30px;
	background-color:rgb(100, 182, 177);
	color:rgb(222, 212, 185);
	cursor:pointer;
}
.input-breaker{
	height:100%;
	opacity:.6;
}

.input-text{
	background-color:rgb(222, 212, 185);
	outline:none;
	font-size: 30px;
	color:rgb(100, 182, 177);
	padding:10px;
	border:0;
}
/*_______________________________CATCH*/
.matrix{
	position:absolute;
	overflow: hidden;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.matrix-in{
	width:100%;
	height:100%;

	-webkit-transition: margin 1s ease;
	   -moz-transition: margin 1s ease;
	    -ms-transition: margin 1s ease;
	     -o-transition: margin 1s ease;
	        transition: margin 1s ease;
}
.col{
	width:20%;
	height:20%;
	float:left;
	overflow:hidden;
	position:relative;

	-webkit-transition: all .25s ease ;
	   -moz-transition: all .25s ease ;
	    -ms-transition: all .25s ease ;
	     -o-transition: all .25s ease ;
	        transition: all .25s ease ;

	        -webkit-user-select: none;
	        -moz-user-select: none;
	        -ms-user-select: none;
	        -o-user-select: none;
	        user-select: none;
}

.pane{
	position:absolute;
	width:100%;
	height:100%;
	font-size: 1.4vw;
	display: table-cell;
	vertical-align: bottom;
	cursor:pointer;

	-webkit-transition: all .7s ease-out;
	   -moz-transition: all .7s ease-out;
	    -ms-transition: all .7s ease-out;
	     -o-transition: all .7s ease-out;
	        transition: all .7s ease-out;
}
.content{
	position:absolute;
	top:43%;
	font-family: 'Droid Sans', sans-serif;
	left:0;
	text-align: center;
	right:0;
	word-wrap:break-word;
}

.center{
	-webkit-transform: translate(0,0);
	   -moz-transform: translate(0,0);
	    -ms-transform: translate(0,0);
	     -o-transform: translate(0,0);
	        transform: translate(0,0);
}
.left{
	-webkit-transform: translate(100%,0);
	   -moz-transform: translate(100%,0);
	    -ms-transform: translate(100%,0);
	     -o-transform: translate(100%,0);
	        transform: translate(100%,0);
}
.right{
	-webkit-transform: translate(-100%,0);
	   -moz-transform: translate(-100%,0);
	    -ms-transform: translate(-100%,0);
	     -o-transform: translate(-100%,0);
	        transform: translate(-100%,0);
}
.bottom{
	-webkit-transform: translate(0,100%);
	   -moz-transform: translate(0,100%);
	    -ms-transform: translate(0,100%);
	     -o-transform: translate(0,100%);
	        transform: translate(0,100%);
}
.top{
	-webkit-transform: translate(0,-100%);
	   -moz-transform: translate(0,-100%);
	    -ms-transform: translate(0,-100%);
	     -o-transform: translate(0,-100%);
	        transform: translate(0,-100%);
}


/*brooklyn beta color style*/

.welcome{
	height:100%;
	position:absolute;
	color:rgb(70, 67, 58);
	opacity: 1;
	font-family: 'Droid Sans', sans-serif;
	font-size: 5vw;
	display:table-cell;
	text-align: center;
	width:100%;
	z-index:999999;
	background-color:rgb(222, 212, 185);

	-webkit-transition: all 1s ease-out;
	   -moz-transition: all 1s ease-out;
	    -ms-transition: all 1s ease-out;
	     -o-transition: all 1s ease-out;
	        transition: all 1s ease-out;
}
.welcomecon{
	margin-top:20%;
}

.eng{
	color:rgb(100, 182, 177);
	cursor:pointer;

	-webkit-animation:blink .5s ease 0s infinite alternate;
	animation:blink .5s ease 0s infinite alternate;
}

@-webkit-keyframes blink {
	0% { color:rgb(100, 182, 177); }
	100% { color:rgb(140, 212, 207); }
}
@-moz-keyframes blink {
	0% { color:rgb(100, 182, 177); }
	100% { color:rgb(140, 212, 207); }
}
@-ms-keyframes blink {
	0% { color:rgb(100, 182, 177); }
	100% { color:rgb(140, 212, 207); }
}
@-o-keyframes blink {
	0% { color:rgb(100, 182, 177); }
	100% { color:rgb(140, 212, 207); }
}
@keyframes blink {
	0% { color:rgb(100, 182, 177); }
	100% { color:rgb(140, 212, 207); }
}